---
title: Techlahoma - Donors
---
<div class="page-donors">
  <h1>Proudly Sponsored By&hellip;</h1>
  <h2 class="donors-company__heading">These Companies&hellip;</h2>
  <ul class="donors-company">
    <% data.donors_company.each do |company| %>
    <li class="donor-company">
      <div class="donor-company__image">
        <img src="images/donors/company/<%= company.image_url %>" alt="<%= company.name %>" />
      </div>
      <span class="donor-company__level"><%= company.level %></span>
    </li>
    <% end %>
  </ul>
  <h2 class="donors-individual__heading"><%= link_to "We also have a generous network of individual contributors.", "https://donate.techlahoma.org/donations" %></h2>
</div>
