---
title: Supporting Techlahoma
---

<div id="banner-wrapper">
	<div class="inner">
		<section id="banner" class="container">
			<p>We rely on community members like <strong>you</strong> <br/>
				to accomplish our mission</p>
		</section>
	</div>
</div>
<div class="headline">
  <h2>How to Help:</h2>
</div>

<div id="supporting-wrapper">
  <section id="kinds" class="container">
    <h2>Volunteer</h2>
    <p>There are many ways you can help by volunteering your time and talents to Techlahoma. You can help one of our user groups by helping organize meetings, giving presentations, or serving on their steering committees. You can help at one of our conferences by becoming a staff member, helping support the people traveling into town, and helping with the 1,001 things we have to do before and after the conference to make it a success. Finally you can help Techlahoma itself by finding and supporting the donors who sponsor our organization.</p>
    <h2>Donate</h2>
    <p>Techlahoma is entirely funded by community donations, and we appreciate the opportunity you provide to make Oklahoma's technical community one of our nation's strongest.</p>
    <p><a href="https://donate.techlahoma.org/">You can make a donation online at any time</a></p>
  </section>
</div>

<div id="stronger-wrapper">
  <header id="stronger">
    <h2>Your gift helps make Oklahoma's technical communities <strong>stronger</strong>.</h2>
  </header>
</div>

<div id="donate-button-wrapper">
  <a href="https://donate.techlahoma.org">Join Techlahoma as a Member or Sponsor today!</a>
</div>
